
<%=  form_with(url:   search_customer_path  , model: @customer, method: :get, autocomplete: "off" ) do |form| %>
  <div class="row">  
      <div class="col-4">
        <%= form.label :name %>
        <%= form.text_field :name, value: nil,  placeholder: "Search name.."  %>
        <%= submit_tag ("Search")%>
        </div>
        <% if @msg %>
        <p> <%= @msg%></p>
        <% end %>
    </div>
<% end %>

<h1>customer's List</h1>
</div>
<table class="table table-striped  text-center">
  <thead>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Phone</th>
  </thead>
  <tbody>
     <% @customers.each do |customer|   %> 
    <tr>

      <td><%=  customer.id  %> </td>
      <td><%=  customer.first_name %> <%=  customer.last_name %> </td>
      <td><%=  customer.email %> </td>

      <td><%=  customer.phone  %> </td>
      
       <td>
        <div>
        <%= button_to "Preview", preview_business_customer_path(customer), method: :get, class: "btn btn-primary"%>
        </div>
      </td>
       <td>
        <div>
        <%= button_to "Edit", edit_business_customer_path(customer), method: :get, class: "btn btn-primary"%>
        </div>
      </td>
       <td>
        <div>
        <%= button_to "Delete", delete_customer_business_customer_path(customer), method: :get, class: "btn btn-danger"%>
        </div>
      </td>
    </tr>
  <% end %>   
  <tbody>
  </table>
<div>
    <a class="btn btn-primary" type="submit" href="/business/customers/new">Register customer</a>
</div>
<br>
