<div class="container">
<h1>Update Book</h1>

<%=  form_with(url: update_path(@book), model: @book, method: :put ) do |form| %>

    <div class="row">  
      <div class="col-4">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>
        </div>
    </div>
<br>
    <div class="row">  
      <div class="col-4">
        <%= form.label :price %>
        <%= form.number_field :price,  class: "form-control" %>
    </div>
    </div>
<br>
    <div class="row">  
      <div class="col-4">
        <%= form.label :author_name %>
        
        <% options = options_from_collection_for_select(@authors, 'id', 'first_name') %>
        <%= form.select :author_id, options,  class: "form-control btn btn-secondary dropdown-toggle" %>
        </div>
    </div>
    <br>
    <%= form.submit class: "btn btn-primary " %>
<% end %>
<div>