<div class="title text-center">
  <h1>Books List</h1>
</div>
<table class="table table-striped  text-center">
  <thead>
    <th scope="col">ID</th>
    <th scope="col">Book Name</th>
    <th scope="col">Price</th>
    <th scope="col">Author</th>

  </thead>
  <tbody><% for book in @books %> <tr>
      <td><%=  book.id  %> </td>
      <td><%=  book.name  %> </td>
      <td><%=  book.price %> </td>
      <td><%=  book.author.first_name %> <%=  book.author.last_name %> </td>

      <td>
        <div>
          <a class="btn btn-primary" type="submit" href="/book/<%=  book.author_id  %>">Show Author Details </a>
        </div>
      </td>


        <td>
        <div>
          <a class="btn btn-primary" type="submit" href="/book/edit/<%=  book.id  %>">Edit Details </a>
        </div>
      </td>

        <td>
        <div>
          <a class="btn btn-danger" type="submit" href="/book/<%=  book.id  %>/delete">Delete</a>
        </div>
      </td>
    </tr>
    <tr><% end %>
  <tbody>
  </table>
    <div>
          <a class="btn btn-primary" type="submit" href="/book/new">Create Book</a>
        </div>

  