<table style="width: 100%">
  <tr>
        <td>
          <%= form_with(url: all_orders_path, model: @order, method: :get ) do |form| %>
          
              <%= form.label :status %>
              <%= form.select :status, Order.statuses.keys %>
            
            <%= form.submit class: "btn btn-primary " %>
        <% end %>
        </td>
        <td>
          <%= form_with(url: all_orders_path, method: :get ) do |form| %>
              <%= form.label :title %>
              <%= form.text_field :title, class: "form-control" %>
          <br>
          <%= form.submit class: "btn btn-primary " %>

          <%= link_to "clear", all_orders_path , class: "btn"%>
          <% if @msg %>
          <br>
          <%= @msg %>
          <% end %>
        <% end %>
        </td>
  </tr>
</table>
<br>

<table class="table table-striped  text-center">
  <thead>
    <th scope="col">ID</th>
    <th scope="col">Item</th>
    <th scope="col">Quantity</th>
    <th scope="col">Total</th>
    <th scope="col">Customer</th>
    <th scope="col">Status</th>
  </thead>
  <tbody>
     <% @orders.each do |order|   %> 
    <tr>
      <td><%=  order.id  %> </td>
      <td><%=  order.item.title %> </td>
      <td><%=  order.quantity  %> </td>
      <td><%=  order.total_price  %> </td>
      <td><%=  order.customer.first_name %> <%=  order.customer.last_name %> </td>
      <td><%=  order.status %> </td>
       <td>
        <div>
        <%= button_to "Edit", edit_order_path(order), method: :get, class: "btn btn-primary"%>
        </div>
      </td>

      <td>
            <div>
                <%= link_to "Delete", order_path(order), class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "item will be deleted ?" } %>
            </div>
        </td>
    </tr>
  <% end %>   
  <tbody>
  </table>
<div>
    <a class="btn btn-primary" type="submit" href="/orders/new">New Order</a>
</div>
<br>
