
<table class="table table-striped  text-center">
  <thead>
    <th scope="col">ID</th>
    <th scope="col">Quantity</th>
    <th scope="col">Total</th>
    <th scope="col">Customer</th>
    <th scope="col">Status</th>
  </thead>
  <tbody>
     <% @orders.each do |order|   %> 
    <tr>
      <td><%=  order.id  %> </td>
      <td><%=  order.quantity  %> </td>
      <td><%=  order.total_price  %> </td>
      <td><%=  order.customer.first_name %> <%=  order.customer.last_name %> </td>
      <td><%=  order.status %> </td>
       <td>
        <div>
        <%= button_to "Edit", edit_item_item_order_path(@item,order), method: :get, class: "btn btn-primary"%>
        </div>
      </td>

      <td>
            <div>
                <%= link_to "Delete", order_path(order), class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "item will be deleted ?" } %>
            </div>
        </td>
    </tr>
  <% end %>   
  <tbody>
  </table>
<div>
    <%= link_to "new Order", new_item_item_order_path(@item), class: "btn btn-primary", method: :get %>

</div>
<br>
