<div class="container">
<h1>New item</h1>

<%=  form_with(url: item_path(@item), model: @item, method: :put  ) do |form| %>

    <div class="row">  
      <div class="col-4">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
        </div>
    </div>
<br>
    <div class="row">  
      <div class="col-4">
        <%= form.label :description %>
        <%= form.text_field :description, class: "form-control" %>
        </div>
    </div>
<br>
    <div class="row">  
      <div class="col-4">
        <%= form.label :price %>
        <%= form.number_field :price,  class: "form-control" %>
    </div>
    </div>
<br>
    <div class="row">  
      <div class="col-4">
        <%= form.label :capicity %>
        <%= form.number_field :capicity,  class: "form-control" %>
    </div>
    </div>
<br>
    <div class="row">  
        <div class="col-4">
        <%= form.label :is_active %>
        <%= form.check_box  :is_active, :checked => true,  class: "form-control" %>
        </div>
    </div>
    <br>
    <div class="row">  
      <div class="col-4">
        <%= form.label :status %>
        <%= form.select :status, Item.statuses.keys %>
        </div>
    </div>
    <br>
    <%= form.submit class: "btn btn-primary " %>
<% end %>
<div>
